<%- include('head', { title: 'Register' }) -%>

<h1>Register</h1>
<p>Already have an account? <a href="/login">Log in!</a></p>
<script type="module" src="/dist/owl_register.js"></script>
<form method="post" action="/register">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>
  <p>
    <label for="confirm-password">Confirm password:</label>
    <input type="text" name="confirm-password" id="confirm-password">
  </p>
  <p>
    <input type="submit" value="Register">
  </p>
</form>

<%- include('foot') -%>